body {
	background: url("https://static.wikia.nocookie.net/cookierunkingdom/images/6/62/Version_6.10_Title_Screen.png") center/cover;
}

body::before {
	content: "";
	position: absolute;
	inset: 0;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

main > div {
	display: flex;
	margin: 20px;
	flex-direction: column;
	gap: 20px;
}

img {
	object-fit: contain;
	max-height: 100%;
}

.flex {
	display: flex;
	gap: 10px;
	align-items: center;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 10px;
	padding: 10px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.25);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	color: white;
}

.flex div, .flex img {
	display: flex;
	align-items: center;
	height: 100px;
	position: relative;
	text-align: center;
}

p {
	text-align: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.title {
	flex-direction: column;
	text-shadow: 2px 2px 5px #000000;
	gap: 0;
}

h1 {font-size: 3rem; }
h2 {font-size: 1.5rem; }

.flex > * *:not(:first-child) { position: absolute; }

.toppings img:nth-child(2) {
	position: absolute;
	height: 42%;
	transform: translate(-50%, -50%) rotate(0deg);
	left: 50%;
	top: 28%;
}

.toppings img:nth-child(3) {
	position: absolute;
	height: 42%;
	transform: translate(-50%, -50%) rotate(-72deg);
	left: 28%;
	top: 43%;
}

.toppings img:nth-child(4) {
	position: absolute;
	height: 42%;
	transform: translate(-50%, -50%) rotate(72deg);
	left: 72%;
	top: 43%;
}

.toppings img:nth-child(5) {
	position: absolute;
	height: 42%;
	transform: translate(-50%, -50%) rotate(-144deg);
	left: 36%;
	top: 68%;
}

.toppings img:nth-child(6) {
	position: absolute;
	height: 42%;
	transform: translate(-50%, -50%) rotate(144deg);
	left: 64%;
	top: 68%;
}

/* Cookie */

.buff {
	position: absolute;
	width: 25px;
	bottom: 5px;
	left: 10px;
}

.buff2 {
	position: absolute;
	width: 25px;
	bottom: 5px;
	left: 37.5px;
}

.treasure img {
	height: 60px;
}

.variant {
	position: absolute;
	animation: variant 10s infinite;
}

@keyframes variant {
	0%, 30%, 100% { opacity: 0; }
	50%, 80% { opacity: 1; }
}

.title {
	text-shadow: 2px 2px 5px #000000;
}

.sprite {
	justify-content: center;
}

.rally img {
	max-height: 60px;
	max-width: 60px;
}

.sprite img:first-child {
	height: 60px;
	position: absolute;
	z-index: -1;
	
}

.build {
	display: flex;
	gap: 10px;
	align-items: center;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 10px;
	padding: 10px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.25);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	color: white;
	margin: 20px;
}


.tart {
	height: 50px;
}

.top {
	height: 60px;
	position: relative;
}

.top p {
	position: absolute;
	bottom: 0;
	right: 0;
}
